<div class="search-container">
  <label class="location-label" for="location">Enter Location</label>
  <p-autoComplete field="name" inputId="location"
                  [suggestions]="results$ | async" delay="500"
                  (onSelect)="selectLocation($event)" #autocomplete
                  (completeMethod)="search($event)"
                  [forceSelection]="true"
                  emptyMessage="No Results"></p-autoComplete>
</div>

<ng-container *ngIf="(fiveDaysForecast$ | async) as forecast">
  <app-forecast-list [location]="(CurrentLocation$| async)"
                     [forecast]="forecast"
                     (OnFavoriteClick)="UpdateFavorites($event)"></app-forecast-list>
</ng-container>

<p-toast position="bottom-right"></p-toast>
