<div class="favorites-list" *ngIf="(favorites$ | async).length; else noFavorites">
  <ng-container *ngFor="let fav of (currentConditions$ | async)">
    <div class="favorite-card" (click)="goToMain(fav)">
      <div class="location-name">
        <div>{{fav.name}}</div>
      </div>
      <ng-container *ngIf="(unitType$ | async) as unitType">
        <div class="temperature" *ngIf="unitType === 'Celsius'">{{fav.currentTemperatureC}}°</div>
        <div class="temperature" *ngIf="unitType === 'Fahrenheit' ">{{fav.currentTemperatureF}}°</div>
      </ng-container>
      <div class="description">{{fav.iconText}}</div>
      <img [src]="fav.iconUrl" [attr.alt]="fav.iconText">
      <div>{{fav.currentDate | date: 'HH:mm'}}</div>
    </div>
  </ng-container>
</div>
<ng-template #noFavorites>
  <div class="no-favorites">There aren't any locations in favorites yet.</div>
</ng-template>
