<p-toolbar styleClass="toolbar">
  <div class="p-toolbar-group-left">
    <span class="title">Weather Task</span>
    <div class="links">
      <a routerLink="main" role="button">Main</a>
      <a routerLink="favorites" role="button">Favorites</a>
    </div>
  </div>
  <p-selectButton [options]="unitTypes" [(ngModel)]="currentUnitType"
                  optionLabel="label"
                  optionValue="value"
                  (onChange)="valueChanged($event)"></p-selectButton>
</p-toolbar>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>
