<div class="forecast-card">
  <div class="date">
    {{forecast.date | date: 'EEEE, MMMM dd'}}
  </div>
  <div class="temperature-container">
    <div class="day">
      <img class="image"
           [src]="forecast.iconUrl"
           [attr.alt]="forecast.iconText">
      <ng-container *ngIf="(unitType$ | async) as unitType">

        <div class="temperatures" *ngIf="unitType === 'Celsius'">
          {{forecast.maxTemperatureC}}° - {{forecast.minTemperatureC}}°
        </div>
        <div class="temperatures" *ngIf="unitType==='Fahrenheit'">
          {{forecast.maxTemperatureF}}° - {{forecast.miniTemperatureF}}°
        </div>
      </ng-container>
    </div>
  </div>
</div>
