.forecast-card {
  background: white;
  padding: 30px;
  margin: 0 30px 30px;
  -webkit-box-shadow: 4px 4px 18px 0 #989898;
  box-shadow: 4px 4px 18px 0 #989898;
  border-radius: 10px;
  transition: transform .2s;
  text-align: center;

  &:hover {
    transform: scale(1.2);

  }

  .image {
    width: 100px;
  }

  .temperatures {
    //text-align: center;
    font-size: larger;
  }
}

@media only screen and (max-width: 768px) {
  .forecast-card {
    width: 80vw;
    display: flex;
    padding: 15px;

    * {
      width: 25%;
    }

    .image {
      width: 50px;
    }
  }
}
